{% extends 'base.html.twig' %}
{% block title %}Logowanie{% endblock %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form method="POST" action="{{path('login')}}" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Proszę się zalogować</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="_email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Hasło</label>
            <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Hasło" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Pamiętaj mnie
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        </form>
    </div>
{% endblock %}
